name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ published ]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  test:
    name: CI
    runs-on: ubuntu-latest
    steps:
      #######################################################################################################
      ## Full test
      ##
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@v2
        with: { tool: 'just,cargo-llvm-cov' }
      - uses: hendrikmuhs/ccache-action@v1.2
      - if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        uses: Swatinem/rust-cache@v2
      - name: Get latest CMake and Ninja
        uses: lukka/get-cmake@latest
      - name: Install dependencies
        run: |
          sudo apt-get update
          # Make sure this list matches README
          sudo apt-get install -y \
            build-essential \
            libcurl4-openssl-dev \
            libglfw3-dev \
            libjpeg-dev \
            libpng-dev \
            libsqlite3-dev \
            libuv1-dev \
            libwebp-dev \
            libz-dev
          # OpenGL
          sudo apt-get install -y libopengl0
          # Vulkan
          sudo apt-get install -y mesa-vulkan-drivers glslang-dev
      - if: github.event_name == 'release'
        name: Ensure this crate has not yet been published (on release)
        run: just check-if-published
      - run: just ci-test
        env: { RUST_BACKTRACE: full }
  release:
    needs: [test]
    steps:
      # - name: Check semver
      #   uses: obi1kenobi/cargo-semver-checks-action@v2
      #######################################################################################################
      ## Test MSRV
      ##
      # - name: Read MSRV
      #   id: msrv
      #   run: echo "value=$(sed -ne 's/rust-version *= *\"\(.*\)\"/\1/p' Cargo.toml)" >> $GITHUB_OUTPUT
      # - name: Install Rust
      #   uses: dtolnay/rust-toolchain@stable
      #   with:
      #     toolchain: ${{ steps.msrv.outputs.value }}
      # - run: just ci-test-msrv
      #######################################################################################################
      ## Publish to crates.io
      ##
      - if: github.event_name == 'push'
        run: just test-publishing
      - if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags/')
        name: Publish to crates.io
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
